<footer class="site-footer h-card">
    <data class="u-url" href="/rrap-demo-blog/"></data>

    <div class="wrapper">

        <div class="footer-col-wrapper">
            <div class="footer-col">
                <p class="feed-subscribe">
                    <a href="/rrap-demo-blog/feed.xml">
                        <svg class="svg-icon orange">
                            <use xlink:href="/rrap-demo-blog/assets/minima-social-icons.svg#rss"></use>
                        </svg><span>Subscribe</span>
                    </a>
                </p>
            </div>
            <div class="footer-col">
                <p>© Reef Restoration and Adaptation Program. All rights reserved.</p>
            </div>
        </div>
        <div>
            <h3 style="text-align: center;">Acknowledgement of Country</h3>
            <p style="text-align: center;">The Reef Restoration and Adaptation Program respects and recognises all Traditional Owners of the Great Barrier Reef as First Nations Peoples holding the hopes, dreams, traditions and cultures of the Reef.</p>
        </div>
        <div class="social-links">
            <ul class="social-media-list">
                <li><a rel="me" href="https://github.com/gbrrestoration" target="_blank" title="gbrrestoration"><svg
                            class="svg-icon grey">
                            <use xlink:href="/rrap-demo-blog/assets/minima-social-icons.svg#github"></use>
                        </svg></a></li>
                <li><a rel="me" href="https://twitter.com/GBRFoundation" target="_blank" title="GBRFoundation"><svg
                            class="svg-icon grey">
                            <use xlink:href="/rrap-demo-blog/assets/minima-social-icons.svg#twitter"></use>
                        </svg></a></li>
            </ul>
        </div>

    </div>

</footer>